<!doctype html>
<html lang="th">
<head>
    <meta charset="utf-8">
    <title>Face Queue Scanner</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css?v=4">
</head>

<body>
    <div class="container-fluid kiosk-page">
        <div class="row h-100">
            <div class="col-md-5 camera-box">
                <div class="camera-title">กล้องสแกนใบหน้า</div>
                <img id="cameraPreview"  class="camera-preview">
            </div>

            <div class="col-md-7 status-box">
                <div class="queue-date">
                    <span id="apiStateIcon">🔴</span>
                    <span id="queueDateText">-</span>
                </div>

                <button id="enableVoiceBtn" class="btn btn-primary voice-btn">
                    เปิดเสียงพูด
                </button>

                <div class="queue-summary">
                    วันนี้รับ
                    <span id="maxQueueText" class="queue-max">-</span>
                    คิว

                    <span class="queue-used-text">
                        ใช้ไปแล้ว
                        <span id="usedQueueText" class="queue-used">-</span>
                        คิว
                    </span>
                </div>

                <div id="stateText" class="state-text">กำลังเริ่มระบบ</div>

                <div class="queue-label">หมายเลขคิวของท่าน</div>
                <div id="queueNo" class="queue-no">---</div>

                <div id="messageText" class="message-text">
                    กรุณามองที่กล้อง
                </div>

                <div id="detScore" class="det-score">
                    det_score: -
                </div>
            </div>
        </div>
    </div>   
   

    <script src="/static/js/jquery-3.6.0.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/speech.js"></script>
    <script src="/static/js/app.js?v=3"></script>
</body>
</html>